APP_ENV=development
SUPABASE_DB_URL=postgresql://postgres:Nprftn2y*Nprftn2y@db.tdjhcwaopsvtqdtefsxy.supabase.co:5432/postgresSUPABASE_DB_PASSWORD=Nprftn2y*Nprftn2y
SUPABASE_DB_PASSWORD=Nprftn2y*Nprftn2y
DB_SSLMODE=require
AUTO_CREATE_TABLES=false
OPENAI_API_KEY=
MAX_AUDIO_SECONDS=60
